.roller {
  display: inline-block;
  position: relative;
  width: var(--rolling-width);
  height: 1em;
  line-height: 1em;
  overflow: hidden;
  vertical-align: -0.04em;
  text-align: left;
}

.track {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  animation-name: rolling-text-ping-pong;
  animation-duration: var(--rolling-duration, 7s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
}

.word {
  display: block;
  height: 1em;
  line-height: 1em;
  white-space: nowrap;

}

@keyframes rolling-text-ping-pong {
  0%,
  21% {
    transform: translateY(0);
  }

  23%,
  44% {
    transform: translateY(-1em);
  }

  46%,
  67% {
    transform: translateY(-2em);
  }

  69%,
  88% {
    transform: translateY(-3em);
  }

  89% {
    transform: translateY(-2em);
  }

  90% {
    transform: translateY(-1em);
  }

  91%,
  100% {
    transform: translateY(0);
  }
}